# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
ENV/

# PyTorch large model files
*.bin
*.pt

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.local

# PyCharm
.idea/

# mac os file
.DS_Store

# python cache binaries:
src/movie_decoding/__pycache__/

data/
._data/
results/
wandb/
