# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
ENV/

# PyTorch large model files
*.bin
*.pt

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.local

# PyCharm
.idea/